@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            @Umbraco.Field("pageTitle")
            @Umbraco.Field("bodyText")		
        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->