<!DOCTYPE root[<!ELEMENT ArticleItem ANY>
<!ATTLIST ArticleItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT SampleContentPage ANY>
<!ATTLIST SampleContentPage id ID #REQUIRED>
 
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1092" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-25T16:24:22" updateDate="2015-04-25T17:15:42" nodeName="My Home Page" urlName="my-home-page" path="-1,1092" isDoc="" nodeType="1091" creatorName="Srinivasa Rao Atta" writerName="Srinivasa Rao Atta" writerID="0" template="1090" nodeTypeAlias="Homepage">
    <pageTitle><![CDATA[Welcome to My HomePage]]></pageTitle>
    <bodyText><![CDATA[Hello World !]]></bodyText>
    <footerText><![CDATA[Copyright My Home Page Ltd 2015]]></footerText>
    <article1><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.]]></article1>
    <article2><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.]]></article2>
    <articleFooter><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.]]></articleFooter>
    <SampleContentPage id="1097" parentID="1092" level="2" creatorID="0" sortOrder="0" createDate="2015-04-25T18:03:06" updateDate="2015-04-25T20:43:30" nodeName="MyContentPage" urlName="mycontentpage" path="-1,1092,1097" isDoc="" nodeType="1096" creatorName="Srinivasa Rao Atta" writerName="Srinivasa Rao Atta" writerID="0" template="1095" nodeTypeAlias="SampleContentPage">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <bodyText><![CDATA[<p>Contact Information:</p>
<p> </p>
<p><strong>Contact Person Name</strong>: Tom Dickens Harry</p>
<p> </p>
<p><strong>Contact Phone Number</strong>: 000-000-0000</p>
<p> </p>
<p><strong>Contact email</strong>:TomDickensHarry@gmail.com</p>]]></bodyText>
    </SampleContentPage>
    <ArticlesMain id="1103" parentID="1092" level="2" creatorID="0" sortOrder="1" createDate="2015-04-25T19:22:36" updateDate="2015-04-25T20:35:52" nodeName="Articles" urlName="articles" path="-1,1092,1103" isDoc="" nodeType="1100" creatorName="Srinivasa Rao Atta" writerName="Srinivasa Rao Atta" writerID="0" template="1099" nodeTypeAlias="ArticlesMain">
      <ArticleItem id="1104" parentID="1103" level="3" creatorID="0" sortOrder="0" createDate="2015-04-25T19:24:22" updateDate="2015-04-25T20:35:57" nodeName="Umbraco" urlName="umbraco" path="-1,1092,1103,1104" isDoc="" nodeType="1102" creatorName="Srinivasa Rao Atta" writerName="Srinivasa Rao Atta" writerID="0" template="1101" nodeTypeAlias="ArticleItem">
        <articleTitle><![CDATA[Umbraco .Net CMS]]></articleTitle>
        <articleContents><![CDATA[<h2>A remarkably simple user interface</h2>
<p>Umbraco has been designed to make you as productive as possible. This means it's fast, beautiful and easy to use so you can focus on getting your message out to your peers, not how the technology works.</p>]]></articleContents>
      </ArticleItem>
      <ArticleItem id="1105" parentID="1103" level="3" creatorID="0" sortOrder="1" createDate="2015-04-25T19:25:32" updateDate="2015-04-25T20:36:01" nodeName="dotNetNuke" urlName="dotnetnuke" path="-1,1092,1103,1105" isDoc="" nodeType="1102" creatorName="Srinivasa Rao Atta" writerName="Srinivasa Rao Atta" writerID="0" template="1101" nodeTypeAlias="ArticleItem">
        <articleTitle><![CDATA[dotNetNuke CMS]]></articleTitle>
        <articleContents><![CDATA[<h2>Master Your Online Media</h2>
<p>Our built-in media library makes it a breeze to manage digital assets. Umbraco automatically scales your photos, lets you do cropping with a single click and makes your shots responsive too.</p>]]></articleContents>
      </ArticleItem>
      <ArticleItem id="1106" parentID="1103" level="3" creatorID="0" sortOrder="2" createDate="2015-04-25T19:26:08" updateDate="2015-04-25T20:36:05" nodeName="Orchard" urlName="orchard" path="-1,1092,1103,1106" isDoc="" nodeType="1102" creatorName="Srinivasa Rao Atta" writerName="Srinivasa Rao Atta" writerID="0" template="1101" nodeTypeAlias="ArticleItem">
        <articleTitle><![CDATA[Orchard CMS]]></articleTitle>
        <articleContents><![CDATA[<h2>Painless Integration</h2>
<p>While being a CMS in the core, Umbraco can be integrated with any leading 3rd party tool.<br /><br />Whether you need a powerful online marketing tool, a superb ecommerce platform or a hub for your community, you're in great company. We've got more than 250.000 websites to prove it.</p>]]></articleContents>
      </ArticleItem>
      <articlesTitle><![CDATA[.NET CMS]]></articlesTitle>
      <articlesContents><![CDATA[<p>Famous .NET CMS</p>]]></articlesContents>
    </ArticlesMain>
  </Homepage>
</root>